cfgv==3.5.0
colorama==0.4.6
debugpy==1.8.17
distlib==0.4.0
filelock==3.20.3
identify==2.6.16
iniconfig==2.3.0
nodeenv==1.10.0
numpy==2.2.6
opencv-python==4.12.0.88
packaging==25.0
pandas==2.3.3
pip==25.2
platformdirs==4.5.1
pluggy==1.6.0
pre_commit==4.5.1
pyads==3.5.0
Pygments==2.19.2
PyQt6==6.10.0
PyQt6-Qt6==6.10.0
PyQt6_sip==13.10.2
PyQt6-stubs==20250824
pyright==1.1.408
pytest==9.0.1
pytest-mock==3.15.1
pytest-qt==4.5.0
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.3
setuptools==80.9.0
six==1.17.0
typing_extensions==4.15.0
tzdata==2025.2
virtualenv==20.36.1
wheel==0.45.1
