# This file may be used to create an environment using:
# $ conda create --name 생성할가상환경이름 --file requirements.txt

# 이미 가상환경이 만들어져 있다면 아래 명령어로 패키지들을 설치하면 된다.
# $ pip install -r requirements.txt

# platform: win-64
# created-by: conda 25.7.0
annotated-types=0.7.0=pypi_0
anyio=4.12.1=pypi_0
bzip2=1.0.8=h2bbff1b_6
ca-certificates=2025.11.4=haa95532_0
certifi=2026.1.4=pypi_0
cffi=2.0.0=pypi_0
cfgv=3.5.0=pypi_0
charset-normalizer=3.4.4=pypi_0
claw-log=0.1.3=pypi_0
colorama=0.4.6=pypi_0
contourpy=1.3.3=pypi_0
cryptography=46.0.5=pypi_0
cycler=0.12.1=pypi_0
debugpy=1.8.17=pypi_0
distlib=0.4.0=pypi_0
distro=1.9.0=pypi_0
expat=2.7.3=h9214b88_0
filelock=3.20.3=pypi_0
fonttools=4.61.1=pypi_0
google-auth=2.48.0=pypi_0
google-genai=1.62.0=pypi_0
h11=0.16.0=pypi_0
httpcore=1.0.9=pypi_0
httpx=0.28.1=pypi_0
identify=2.6.16=pypi_0
idna=3.11=pypi_0
iniconfig=2.3.0=pypi_0
jiter=0.13.0=pypi_0
kiwisolver=1.4.9=pypi_0
libffi=3.4.4=hd77b12b_1
libzlib=1.3.1=h02ab6af_0
matplotlib=3.10.8=pypi_0
nodeenv=1.10.0=pypi_0
openssl=3.0.18=h543e019_0
packaging=25.0=pypi_0
pip=25.2=pyhc872135_1
platformdirs=4.5.1=pypi_0
pluggy=1.6.0=pypi_0
pre-commit=4.5.1=pypi_0
pyads=3.5.0=pypi_0
pyasn1=0.6.2=pypi_0
pyasn1-modules=0.4.2=pypi_0
pycparser=3.0=pypi_0
pydantic=2.12.5=pypi_0
pydantic-core=2.41.5=pypi_0
pygments=2.19.2=pypi_0
pyparsing=3.3.2=pypi_0
pyqt6=6.11.0=pypi_0
pyqt6-qt6=6.11.0=pypi_0
pyqt6-sip=13.11.1=pypi_0
pyqt6-stubs=20250824=pypi_0
pyright=1.1.408=pypi_0
pytest=9.0.1=pypi_0
pytest-mock=3.15.1=pypi_0
pytest-qt=4.5.0=pypi_0
python=3.11.14=h981015d_0
python-dateutil=2.9.0.post0=pypi_0
python-dotenv=1.2.1=pypi_0
pytz=2025.2=pypi_0
pyyaml=6.0.3=pypi_0
requests=2.32.5=pypi_0
rsa=4.9.1=pypi_0
setuptools=80.9.0=py311haa95532_0
six=1.17.0=pypi_0
sniffio=1.3.1=pypi_0
sqlite=3.51.0=hda9a48d_0
tenacity=9.1.4=pypi_0
tk=8.6.15=hf199647_0
tqdm=4.67.3=pypi_0
typing-extensions=4.15.0=pypi_0
typing-inspection=0.4.2=pypi_0
tzdata=2025.2=pypi_0
ucrt=10.0.22621.0=haa95532_0
urllib3=2.6.3=pypi_0
vc=14.3=h2df5915_10
vc14_runtime=14.44.35208=h4927774_10
virtualenv=20.36.1=pypi_0
vs2015_runtime=14.44.35208=ha6b5a95_10
websockets=15.0.1=pypi_0
wheel=0.45.1=py311haa95532_0
xz=5.6.4=h4754444_1
zlib=1.3.1=h02ab6af_0
