; config/settings.ini.template
; 사용법
;   1.  이 파일을 복사하여 `./config/`에 갖다 놓는다
;   2.  파일 이름을 'settings.ini'로 변경한다
;   3.  현재 환경에 맞게 값을 변경한다

[App]
; 애플리케이션 기본 설정
APP_NAME = Robot-Turntable-Syncronizer  ; 앱 이름
VERSION = 1.0.0                         ; 버전
DEBUG = True                            ; 로그 레벨에 따라 표시되는 로그를 조절 가능 (개발 중엔 True, 배포 시 False)
LOG_DIR = logs                          ; 로그 저장 폴더
APP_ICON = resources/icons/kriss.gif    ; 앱 아이콘 위치
KRISS_CI = resources/images/kriss_logo.gif  ; 표준연 로고


[TwinCAT]
; TwinCAT PLC 접속 정보
; 로컬 테스트: 127.0.0.1.1.1
; AMS_NET_ID = 5.143.171.16.1.1
; AMS_NET_ID = 5.119.154.174.1.1
; PORT = 851                    <- TwinCAT3 기본 포트
; DEMO_MODE = False             <- 데모 모드 : PLC 없이 테스트할 때는 True로 바꾸기
AMS_NET_ID = 127.0.0.1.1.1
PORT = 851
DEMO_MODE = True


[Robot]
; 로봇 기본 속도
DEFAULT_FEED_RATE_ROBOT = 10


[Servo]
; 명령을 내린 뒤 Busy가 뜰 때까지 기다려 주는 최대 시간
SERVO_BUSY_TIMEOUT_SEC = 5.0
; 서보 이동 최대 대기 시간 (초)
SERVO_MOVE_TIMEOUT_SEC = 180.0
; 턴테이블 속도/각도
TURNTABLE_DEG_DEFAULT = 0
TURNTABLE_DEG_MIN = -99999
TURNTABLE_DEG_MAX = 99999
TURNTABLE_RPM_DEFAULT = 5
TURNTABLE_RPM_MIN = 0
TURNTABLE_RPM_MAX = 2000
; 툴 서보 속도
TOOL_RPM_DEFAULT = 10
TOOL_RPM_MIN = 0
TOOL_RPM_MAX = 3000
