; config/settings.ini.template
; 사용법
;   1.  이 파일을 복사하여 `./config/`에 갖다 놓는다
;   2.  파일 이름을 'settings.ini'로 변경한다
;   3.  현재 환경에 맞게 값을 변경한다

[App]
; 애플리케이션 기본 설정
APP_NAME = FANUC-Turntable-Syncronizer  ; 앱 이름
VERSION = 1.0.0                         ; 버전
DEBUG = True                            ; 개발 중엔 True, 배포 시 False
LOG_DIR = logs                          ; 로그 저장 폴더

[TwinCAT]
; TwinCAT PLC 접속 정보
; 로컬 테스트: 127.0.0.1.1.1

; AMS_NET_ID = 5.143.171.16.1.1 <- PLC 고유 주소
; PORT = 851                    <- TwinCAT3 기본 포트
; DEMO_MODE = False             <- 데모 모드 : PLC 없이 테스트할 때는 True로 바꾸기


AMS_NET_ID = 127.0.0.1.1.1
PORT = 851
DEMO_MODE = True


[Robot]
; 로봇 관련 기본 설정
DEFAULT_SPEED = 10             ; 로봇 초기 속도


[TurnTable]
; TODO: 턴테이블 관련 설정
